*{
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
}
.body{
    overflow: hidden;
}
header {
    width: 100%;
    margin: auto;
    height: 80px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-cointainer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}
.logo-cointainer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-family: Work Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 700px;
}
.header-span{
    color: #E34BBF;
}
.header-logo-txt{
    font-weight: bolder;
}
nav>ul {
    display: flex;
    align-items: center;
    gap: 5px;

}
nav li {
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1rem;
}
nav li a {
    text-decoration: none;
    color: #424242;
}
.nav-follow{
    display: flex;
    background-color: #E7E6E9 ;
    padding: 10px 15px;
    border-radius: 5px;
    gap: 15px;
    
}
.fa-facebook{
    color: blue;
}


/* banner styles start */
.banner-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: url(Images/Group\ 14.png);
    background-size: 50% 100%;
    background-repeat: no-repeat;
    /* background-size: cover; */
    height: 100vh;
}
.banner-ul{
    list-style: none;
}
.banner-head-one{
    font-size: 38px;
}
.banner-head-two{
    font-size: 95px;
    color: #BA50D4;
}

/* button styles */
.btn{
    margin-top: 20px;
    gap: 20px;
    padding: 21px 40px;
    border-radius: 40px;
    border: none;
    color: white;
    font-size: 20px;
    font-weight: 600;
    margin-left: 40px;
    cursor: pointer;
    
}
.banner-button{
    gap: 20px;
}
.banner-btn1{
    background-color: #FF42A5;
}
.banner-btn2{
    background-color: #4EC5F7;
    
}
.light-gray{
    color: gray;
}
/* banner section end */


/* Online game section */

.online-games{
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    margin-top: 30px;
}
.funny-video{
    color: #BA50D4;
}

.games-description{
    align-items: center;
}
.game-photos{
    display: flex;
    justify-content: center;
    padding: 10px;
    padding-bottom: 80px;   
}
.game-img{
    width: 250px;
    height:300px ;
    padding: 20px;
}
.games{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
/* game box description */
.game-box-description{
    display: flex;
    justify-content: center;
    
}
#img-id:hover  {
 
 background: red;
}

/* features section (Play instantly) */
.features {
    margin-top: 130px;
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.feature-img img{
    height: 350px;
}
.feature-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.mini-photo{
    margin-top: 0px;
    margin-bottom: 0px;
    border-radius: 8px;
    color: #FFF;
    width: 319px;
    height: 365.083px;
    padding: 4px;
    position: relative;
    bottom: 75px;
    right: 150px;
}
.section-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 48px;
    text-align: right;
}
.play-description{
    text-align: right;
    margin-top: 20px;
}
.play-heading{
    color: #E34BBF;
}
/* many games styles */

.games-btn{
    display: flex;
    gap: 6px;
    align-items: center;
    background-color: white;
    border-radius: 50px;
    padding: 5px 10px;
    border: none;
    outline: none;
}


.the-games{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.first-five{
    display: flex;
}
.second-four{
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}
.many-games:hover{
    color: #BA50D4;
    font-weight: bolder;
    border: 2px solid #FF42A5;
}
.games-btn{

}


/* footer styles */

footer{
    margin-top: 70px;
    background: black;
    height: auto;
    width: 100%;
    padding-top: 150px;
    color: white;
    align-items: center;
}
.footer-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 100px;
}

.logo-footer{
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 45px;
    font-weight: 700;
    text-align: center;
    
}
/* footer social media styles */

.footer-container{
    width: 100%;
    padding: 70px 30px 20px;
    display: flex;
    flex-direction: column-reverse;
}
.social-icons{
    display: flex;
    justify-content: center ;
}
.social-icons a{
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}
.social-icons a i{
    font-size: 2em ;
    color: black;
    opacity: 0.9;
}
.footer-nav{
    margin: 30px 0px;
    
    
}
.footer-nav ul{
    display: flex;
    justify-content: center;
    
}
.footer-nav ul li{
    text-decoration: none;
}
.footer-nav ul li a{
    color: white;
    margin: 20px;
    text-decoration: none;
    font-size: 1em;
    opacity: 0.7;
    
}
footer li{
    list-style: none;
}
footer li a{
    text-decoration: none;
}
footer
.footer-bottom{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;
    border-radius: 50px;
}

/* responsive for mobile devices */
@media screen and (max-width:425px) {
    ..game-box-description{
        flex-direction: column;

        align-items: flex-start;
    }
    .game-photos{
        flex-direction: column;
        align-items: center;
    }
    .features{
        
        flex-direction: column;
    }
    .feature-img img .big-img-feature{
        height: 0%;
        
    }
    /* ..feature-img img {
        height: 0px;
    }
    .big-img-feature{
        height: 0px;
    } */
    header{

    }
    .nav-container{
        flex-direction: column;
        /* flex-wrap: wrap */
    }
    .footer-nav{
        flex-direction: column;
    }
    .footer-nav ul li{
        width: 100%;
        text-align: center;
    }
    .banner-photo{
        width: 100%;
    }
    .banner-container{
        flex-direction: column;
        /* padding-bottom: 100px; */
    }
    .banner-ul{
        list-style: none;
    }
    .banner-head-one{
        font-size: 30px;
    }
    .banner-head-two{
        font-size: 40px;
        color: #BA50D4;
    }
    .btn{
        margin-top: 5px;
        gap: 20px;
        padding: 8px 15px;
        font-size: 15px;
        font-weight: 600;
        margin-left: 0px;
        
        
    }
    .banner-button{
        gap: 20px;
    }
}


