*{
    margin: 0px;
    padding:0px;
}
header {
    width: 1920px;
    height: 80px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-cointainer{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.logo-cointainer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-family: Work Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 700px;
}
nav>ul {
    display: flex;

}
nav li {
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1rem;
}
nav li a {
    text-decoration: none;
    color: #424242;
}
/* banner styles start */
.banner-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: url(Images/Group\ 14.png);
    background-repeat: none;
    height: 100vh;
}
.banner-ul{
    list-style: none;
}
.banner-head-one{
    font-size: 38px;
}
.banner-head-two{
    font-size: 95px;
    color: #BA50D4;
}
/* button styles */
.btn{
    margin-top: 20px;
    gap: 20px;
    padding: 21px 40px;
    border-radius: 40px;
    border: none;
    color: white;
    font-size: 20px;
    font-weight: 600;
    margin-left: 40px;
    
}
.banner-button{
    gap: 20px;
}
.banner-btn1{
    background-color: #FF42A5;
}
.banner-btn2{
    background-color: #4EC5F7;
    
}
.light-gray{
    color: gray;
}
/* banner section end */


/* Online game section */

.online-games{
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    margin-top: 30px;
}
.funny-video{
    color: #BA50D4;
}
.games-description{
    align-items: center;
}
.game-photos{
    display: flex;
    justify-content: center;
    padding: 10px;
    padding-bottom: 80px;   
}
.game-img{
    width: 250px;
    height:300px ;
    padding: 20px;
}
.games{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
/* game box description */
.game-box-description{
    display: flex;
    justify-content: center;
    
}
/* features section */
.features {
    margin-top: 130px;
    display: flex;
    gap: 100px;
    justify-content: space-around;
    text-align: center;
}

/* .features .section-title{
    border-left: 5px solid #FF900E;
    padding-left: 20px;
} */
.feature-img img{
    height: 35%;
    margin-left: 47px;
}
.mini-photo{
    border-radius: 8px;
    color: #FFF;
    width: 319px;
    height: 365.083px;
    padding: 4px;
    text-align: center;
    position: relative;
    bottom: 100px;
}
.section-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 48px;
    text-align: right;
}
.play-description{
    text-align: right;
    margin-top: 20px;
}
.play-heading{
    color: #E34BBF;
}

/* footer styles */

footer{
    background: black;
    height: auto;
    width: 100vw;
    padding-top: 150px;
    color: white;
    align-items: center;
}
.footer-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 100px;
}
/* .footer-head{
    font-size: 60px;
    padding-bottom: 20px;
} */
.logo-footer{
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 45px;
    font-weight: 700;
    text-align: center;
    
}
/* footer social media styles */

.footer-container{
    width: 100%;
    padding: 70px 30px 20px;
}
.social-icons{
    display: flex;
    justify-content: center ;
}
.social-icons a{
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}
.social-icons a i{
    font-size: 2em ;
    color: black;
    opacity: 0.9;
}
.footer-nav{
    margin: 30px 0px;
    
}
.footer-nav ul{
    display: flex;
    justify-content: center;
    
}
..footer-nav ul li{
    text-decoration: none;
}
.footer-nav ul li a{
    color: white;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    
}

